<footer class="">
	<div class="subfooter pt-5 pb-6" *ngIf="!router.url.includes('/alerts')">
		<section id="" class="mx-auto">
			<div class="container">
				<div class="row">
					<div class="col-md-4 pr-md-4 pt-md-3">
						<p class="pb-2">
							<img src="assets/logoOBSWhite.png" width="64"
								alt="Olympic Broadcasting Services">
						</p>
            <div class="title">
              <p>Broadcast Training Programme</p>
            </div>
						<span class="footer-description"> For now more than three decades, the BTP has played a fundamental role in inspiring a new generation of broadcast
              professionals around the world. Through this programme, OBS is committed to providing work experience opportunities to local students and ensuring
              a lasting Olympic legacy in every host country.</span><br>
					</div>
					<div class="col-md-2 pt-4 pt-md-3">
						<div class="title">
							<p>Get Started</p>
						</div>
            <div class="pb-md-3"><a routerLinkActive="active" routerLink="/findyourrole" target="_self">Find your role</a></div>
            <div class="pb-md-3"><a routerLinkActive="active" routerLink="/apply-process" target="_self">Apply</a></div>
					</div>
					<div class="col-md-3 pt-4 pt-md-3 pl-md-8">
						<div class="title">
							<p>About</p>
						</div>
            <div class="pb-md-3"><a href="https://www.obs.tv" target="_blank">Olympic Broadcasting Services</a></div>
            <div class="pb-md-3"><a routerLinkActive="active" routerLink="/stories" target="_self">Stories</a></div>
            <div class="pb-md-3"><a routerLinkActive="active" routerLink="/tokyo2020" target="_self">Tokyo 2020</a></div>
            <div class="pb-md-3"><a routerLinkActive="active" routerLink="/contact" target="_self">Contact</a></div>
					</div>
					<div class="col-md-3 pt-4 pt-md-3 pl-md-7">
						<div class="title">
							<p>Quick Links</p>
						</div>
            <div class="pb-md-3"><a href="https://www.olympic.org" target="_blank">International Olympic Committee</a></div>
            <div class="pb-md-3"><a href="https://tokyo2020.org/en/" target="_blank">Tokyo 2020 Organising Committee</a></div>
            <div class="pb-md-3"><a href="https://www.olympicchannel.com/en/" target="_blank">Olympic Channel</a></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="footer">
    <div class="pt-5 pb-5">
      <section id="" class="mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <address >
              <div>
                <p class="title">Contact us</p>
              </div>
              <p class="adress">Olympic Broadcasting Services (OBS)<br>
              Calle Torrelaguna 75 <br>
              28027 Madrid, Spain <br>
              +34 91 839 75 00<br>
              <a href="mailto:btp.tokyo@obs.tv">btp.tokyo@obs.tv</a><br></p>
            </address>
          </div>
		  <div class="col-md-5 text-lg-right">
			  <div class="">
				  <p><a class="font-weight-normal" href="https://www.linkedin.com/company/obs-madrid---olympic-host-broadcaster" target="_blank">Linkedin</a></p>
			  </div>
			  <div class="pt-md-5 pt-3">
				  <p class="adress mb-0"> © Olympic Broadcasting Services ("OBS") 2019. All rights reserved.   </p>
				  <!--<a class="font-weight-normal" href="assets/terms_policies/terms.pdf" target="_blank">Terms & Conditions <span>&nbsp;| &nbsp;</span> </a>-->
				  <a class="font-weight-normal" href="assets/terms_policies/privacy.pdf" target="_blank">Privacy Policy </a>
			  </div>
		  </div>
        </div>
      </div>
      </section>
    </div>
  </div>
</footer>
