//gallery custom styles
.g-container{
    width: 100% !important;
    background-color: white !important;
    background-image: url("assets/quotes_backgrounds.png") !important;
    //height: 840px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    p {
        font-size: 18px;
    }
}
.g-thumbs{
    top: 20% !important;
    left: 6% !important;
    }
.g-thumb{
    width: 100px !important;
    height: 100px !important;
    opacity: 1 !important;
    padding: 0px !important;
    margin-left: 32px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .g-thumb-container {
        height: 250px !important;
        margin: 0px !important;
    }
    .g-thumb {
        margin-left: 15px;
    }
}
.g-thumb-current{
    width: 210px !important;
    height: 210px !important;
}
.g-thumb-image{
    border-radius: 2px !important;
}
.text-secondary {
    font-size: 0.875rem !important;
}
.g-img, .g-counter{
    display: none !important;
}
.g-text h2 {
    color: black;
}
.g-text .subtitle {
    font-size: 0.7rem !important;
}
.g-text .numbers {
    padding-left: 100px;
}
.g-text-container {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
gallery-text {
    bottom: 15% !important;
    z-index: 14 !important;
}
gallery-nav {
    z-index: 1000 !important;
}
.g-nav {
    opacity: 1 !important;
}
.g-nav-next {
    padding-right: 0px !important;
}
.g-nav-prev {
    padding-left: 0px !important;
}
.g-box{
    top: 200px !important;
}
.g-count{
    font-family: HelveticaNeueLTStd-BdCn !important;
}
.g-title {
    font-family: HelveticaNeueLTStd-Bd !important;
    opacity: 0.8;
    margin-bottom: 1rem !important;
}
@media (max-width: 767px) {
    .g-container {
        height: 920px !important;
    }
    .g-thumbs{
        left: 15% !important;
        top: 7% !important;
    }
    .g-count{
        font-size: 2rem !important;
    }
    .g-thumb{
        width: 90px !important;
        height: 90px !important;
        opacity: 1 !important;
        padding: 0px !important;
    }
    .g-thumb-current{
        width: 120px !important;
        height: 120px !important;
    }
    .g-text-container {
        padding: 5px !important;
    }
    .g-text .numbers {
        padding-left: 20px;
    }
    .galleryContent{
        .row{
            flex-wrap: wrap-reverse !important;
        }
        .numbers p {
            max-width: 120px !important;
        }
    }
    gallery-text {
        order:0 !important;
        top: 55px !important;
    }
}
