<!-- Banner -->
<div class="banner w-100 d-flex justify-content-center animated fadeIn fast">
  <div class="video">
    <div class="cover">
      <div class="container">
        <div class="row justify-content-md-center my-4 my-md-10">
          <div class="col-md-8 text-left">
            <p class="subtitle animated faster" animateOnScroll animationName="slideInLeft">BROADCASTING TRAINING PROGRAMME</p>
            <h2 class="text-left animated fast" animateOnScroll animationName="slideInLeft">Apply</h2>
            <!--<p class="white animated" animateOnScroll animationName="slideInLeft">-->
              <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac facilisis dui.-->
            <!--</p>-->
          </div>
        </div>
      </div>
    </div>
    <div class="videoHome">
      <img class="img-fluid w-100" src="assets/apply-banner.jpg">
    </div>
  </div>
</div>
<div class="main">

  <!-- PROCESS -->
  <div class="container mx-auto my-5 mt-md-10 mb-md-10">
    <div class="row justify-content-md-left">
      <div class="col-md-12">
        <div class="step mt-md-5 border border-top-0 border-left-0 border-right-0" *ngFor="let step of steps; let i = index">
          <div class="row d-flex align-items-center justify-content-between py-2 py-md-0" (click)="toggleOpen(step)">
            <div class="col-11">
              <div class="title-page my-md-0">
                <h3 class="">
                  {{ step.title }}
                </h3>
              </div>
            </div>
            <div class="col-1 text-right">
              <i-plus class="icon" [class.rotate]="!step.isOpen"></i-plus>
            </div>
          </div>
          <div class="answer" [class.answer-open]="!step.isOpen" [innerHTML]="step.text">
          </div>
          <div class="col-12 text-center my-5" *ngIf="i == 2 && !step.isOpen">
            <button type="button" class="btn btn-primary" routerLink="/apply">
              <i-edit class="icon"></i-edit>
              Apply now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- PROCESS -->
  <!--<div class="container mx-auto my-5 mt-md-10 mb-md-10">-->
    <!--<div class="row justify-content-md-left">-->
      <!--<div class="col-md-12">-->
        <!--<div class="step mt-md-5 border border-top-0 border-left-0 border-right-0">-->
          <!--<div class="row d-flex align-items-center justify-content-between py-2 py-md-0" (click)="toggleOpen('step')">-->
            <!--<div class="col-11">-->
              <!--<div class="title-page my-md-0">-->
                <!--<h3 class="">-->
                  <!--BTP in 3 steps-->
                <!--</h3>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-1 text-right">-->
              <!--<i-plus class="icon" [class.rotate]="isOpen"></i-plus>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="containerCustom w-100 pb-3" [class.answer-open]="isOpen">-->
            <!--<div class="containerCarrousel">-->
              <!--<div class="row justify-content-center text-center">-->
                <!--<div class="col-md-4">-->
                  <!--<div class="card mb-4 animated">-->
                    <!--<img class="card-img-top" src="assets/step1.png" alt="Card image cap">-->
                    <!--<div class="card-body py-md-5">-->
                      <!--<h5 class="card-title">1. Get to know the BTP</h5>-->
                      <!--<p class="card-text text-left">Go through our website and learn more about OBS and the different areas offered through the BTP for the Olympic and Paralympic Games.-->
                        <!--Attend an introduction presentation in May at one of our partner universities.</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="card mb-4 animated">-->
                    <!--<img class="card-img-top" src="assets/step2.png" alt="Card image cap">-->
                    <!--<div class="card-body py-md-5">-->
                      <!--<h5 class="card-title">2. Online Application (May 2019)</h5>-->
                      <!--<p class="card-text text-left">Complete the online form and select the training workshop you wish to attend. Students will be required to take a quick online English test.-->
                        <!--Applications are accepted on a first-come, first-served basis. </p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                  <!--<div class="card mb-4 animated">-->
                    <!--<img class="card-img-top" src="assets/step3.png" alt="Card image cap">-->
                    <!--<div class="card-body py-md-5">-->
                      <!--<h5 class="card-title">3. Training Workshop (Oct-Nov 2019)</h5>-->
                      <!--<p class="card-text text-left">The BTP training workshops consist of a general session and, for most of the positions, a specialised training seminar.</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<div class="step mt-md-5 border border-top-0 border-left-0 border-right-0">-->
          <!--<div class="row d-flex align-items-center justify-content-between py-2 py-md-0" (click)="toggleOpen('step')">-->
            <!--<div class="col-11">-->
              <!--<div class="title-page my-md-0">-->
                <!--<h3 class="">-->
                  <!--Preparing for the Application-->
                <!--</h3>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-1 text-right">-->
              <!--<i-plus class="icon" [class.rotate]="isOpen"></i-plus>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-12 pb-3" [class.answer-open]="isOpen">-->
            <!--<h5 class="card-title my-5">Application checklist</h5>-->
            <!--<ul class="card-text text-left">-->
              <!--<li>Check your eligibility: You must be 18 years or over before Games-time; you are a student in good standing and enrolled in a Japanese-->
                <!--university or a recent graduate student (out of university for less than two years); and you have at least an intermediate knowledge of English.</li>-->
              <!--<li>Make a list of the areas you are most interested in.</li>-->
              <!--<li>Contact us (or one of your professors) if you have any questions about the programme.</li>-->
            <!--</ul>-->

            <!--<h5 class="card-title my-5">Gather information</h5>-->
            <!--<p>-->
              <!--Various information will be requested during the application process so please ensure you have it handy when you apply.-->
            <!--</p>-->
            <!--<ul class="card-text text-left">-->
              <!--<li>General applicant information: name, date of birth, address, email, phone</li>-->
              <!--<li>Education: name of your university, current year, degree, etc.</li>-->
              <!--<li>Previous work experience (if any): dates employed, role, main responsibilities etc.</li>-->
              <!--<li>A digital ID photo (in .jpeg format, Minimum photo dimensions: 130x200 pixels)</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<div class="step mt-md-5 border border-top-0 border-left-0 border-right-0">-->
          <!--<div class="row d-flex align-items-center justify-content-between py-2 py-md-0" (click)="toggleOpen('step')">-->
            <!--<div class="col-11">-->
              <!--<div class="title-page my-md-0">-->
                <!--<h3 class="">-->
                  <!--Online Application-->
                <!--</h3>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-1 text-right">-->
              <!--<i-plus class="icon" [class.rotate]="isOpen"></i-plus>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-12 pb-3" [class.answer-open]="isOpen">-->
            <!--<p class="my-5">-->
              <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at malesuada nibh. Cras bibendum auctor diam. Mauris sit amet purus non lacus volutpat elementum. Fusce egestas tincidunt nibh ut egestas. Suspendisse arcu libero, luctus sed finibus sed,-->
              <!--venenatis in urna. Donec mollis pretium turpis a venenatis. Maecenas hendrerit, nisi vitae pharetra maximus.-->
            <!--</p>-->
            <!--<div class="col-12 text-center mb-5">-->
              <!--<button type="button" class="btn btn-primary">-->
                <!--<i-edit class="icon"></i-edit>-->
                <!--Apply now-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
