<div class="error row pb-md-6 mt-md-10 animated fadeIn fast">
    <div class="intro col-md-12 p-6">
        <div class="row text-center">
            <div class="col-md-12 pl-4 pt-4 pb-5">
                <div class="">
                    <img src="assets/errordoc.png"
                    alt="Olympic Broadcasting Services">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="title">
                    OOPS!
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 pt-2">
                <p class="alert"><i-alert-circle class="mr-md-2"></i-alert-circle>{{ error_Description }}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 pt-2">
                <button class="btn btn-outline-dark btn-xs-block btn-load my-sm-0 animated fadeIn animated fadeIn" routerLink="/home"><i-home class="mr-md-2"></i-home> Go home</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 pt-5 px-md-8">
                <p class="text-muted">Unfortunately we couldn't find the page you were looking for. Maybe the navigation menu will help? We hope so! </p>
            </div>
        </div>
    </div>
</div>
