<!-- Banner -->
<div class="banner w-100 d-flex justify-content-center animated fadeIn fast">
  <div class="video">
    <div class="cover">
      <div class="container">
        <div class="row justify-content-md-center my-4 my-md-10">
          <div class="col-md-8 text-left">
            <p class="subtitle animated faster" animateOnScroll animationName="slideInLeft">BROADCASTING TRAINING PROGRAMME</p>
            <h2 class="text-left animated fast" animateOnScroll animationName="slideInLeft">Find your role
            </h2>
            <p class="white animated" animateOnScroll animationName="slideInLeft">
              We are looking for enthusiastic and highly-motivated students to join our team and help us deliver the broadcast
              coverage of the next Olympic Games. We offer training in a broad range of areas. Start exploring now and find out what area you would like to work in.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="videoHome">
      <img class="img-fluid w-100" src="assets/findyourrole-banner.jpg">
    </div>
  </div>
</div>
<div class="main">
  <!-- Areas -->
  <div class="container mx-auto">
    <div class="row justify-content-md-center">
      <div class="my-5 my-md-8 col-md-8 px-4 px-md-0">
        <div class="title-page text-center">
          <!--<p class="">FIND YOUR ROLE</p>-->
          <h2 class="px-5 px-md-8">
            Areas
          </h2>
        </div>
      </div>
    </div>
    <div class="containerCustom w-100 pb-md-8 pb-3">
      <div class="containerCarrousel">
        <div class="row justify-content-center text-center">
          <div class="col-md-6" *ngFor="let card of roles;  let i = index">
            <div class="card mb-4 animated" animateOnScroll animationName="zoomIn"
                 (mouseenter)="setIndex(i)"
                 (mouseleave)="removeIndex(i)">
              <div class="card-cover animated faster" #cardToggler [class.isActive]="selectedIndex == i"
                   [class.d-none]="selectedIndex != i" [class.d-block]="selectedIndex == i"
                   [class.slideInDown]="selectedIndex == i"
                   [routerLink]="['/role', card.id]">
                <div class="card-body">
                  <h3 class="card-title pb-2 animated fadeInUp fast">{{ card.title }}</h3>
                  <span class=""><i-plus-square></i-plus-square></span>
                </div>
              </div>
              <img class="card-img-top" src="{{ card.thumbnail }}" alt="Card image cap">
              <div class="card-body py-md-5">
                <h3 class="card-title">{{ card.title }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main requirements -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mt-5 mt-md-6 col-md-9">
        <div class="title-page text-center">
          <!--<p class="">THE BTP STUDENT EXPERIENCE</p>-->
          <h2>
            Main requirements
          </h2>
        </div>
        <p class="text-muted pt-md-4  text-center">
          You are eligible to participate in the Tokyo 2020 BTP if you
        </p>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="containerCustom w-100 py-md-6 py-5">
      <div class="row">
        <div class="col-md-4 pb-md-8 pb-3 px-5 animated" animateOnScroll animationName="slideInLeft">
          <div class="py-md-5 pt-3 text-center">
            <img class="img-fluid mx-auto" src="assets/mr1.jpg">
          </div>
          <h3 class="pt-5 text-center">Are aged 18 years or over</h3>
        </div>
        <div class="col-md-4 pb-md-8 pb-3 px-5 animated" animateOnScroll animationName="zoomIn">
          <div class="py-md-5 pt-3 text-center">
            <img class="img-fluid mx-auto" src="assets/mr2.jpg">
          </div>
          <h3 class="pt-5 text-center">Are a student in good standing enrolled at a Japanese university</h3>
        </div>
        <div class="col-md-4 pb-md-8 pb-3 px-5 animated" animateOnScroll animationName="slideInRight">
          <div class="py-md-5 pt-3 text-center">
            <img class="img-fluid mx-auto" src="assets/mr3.jpg">
          </div>
          <h3 class="pt-5 text-center">Have at least an intermediate knowledge of English</h3>
        </div>
      </div>
    </div>
  </div>
</div>
